[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
pillow = "*"
selenium = "*"
django-webpack-loader = "*"
django-extensions = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-filter = "*"
django-widget-tweaks = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
