{% extends "admin/base.html" %}

{% block title %}
{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrastyle %}
<style type="text/css" media="screen">
    #header {
        background: black;
        color: white;
    }

    .module caption {
        background: white;
    }
    }
</style>
{% endblock extrastyle %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>

{% endblock %}

{% block nav-global %}{% endblock %}